<%- include('partials/header') %>

<div class="login-container">
  <a href="/register" class="btn register" role="button">Register</a>
  <a href="/login" class="btn" role="button">Login</a>
</div>

<%- include('partials/footer') %>
